[Unit]
Description=floor cleaning robot startup script
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
User=mvibot
Environment="ROS_DOMAIN_ID=11"
Environment="RMW_IMPLEMENTATION=rmw_fastrtps_cpp"
WorkingDirectory=/home/mvibot/
ExecStart=/bin/bash -c " \
    source /opt/ros/jazzy/setup.bash && \
    source /home/mvibot/floorCleaningRobot_ws/install/setup.bash && \
    ros2 launch higher_layer_mvibot bringup_server_launch.py \
"
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
