#!/bin/bash
echo start
echo run ros2 jazzy....
echo start
source /opt/ros/jazzy/setup.bash
source /home/mvibot/floorCleaningRobot_ws/install/setup.bash
ros2 launch higher_layer_mvibot bringup_server_launch.py &
# # export ROS_DOMAIN_ID=11
# # name and mode for robot
# name_seri="$(</home/mvibot/floorCleaningRobot_ws/config/name_seri)"
# mode="$(</home/mvibot/floorCleaningRobot_ws/config/mode)"
# robot_type_connect="$(</home/mvibot/floorCleaningRobot_ws/config/robot_type_connect)"

# #launch file
# ros2 launch rosbridge_server rosbridge_websocket_launch.xml &
# ros2 launch higher_layer_mvibot tf2_web_republisher_launch.py &
# ros2 launch higher_layer_mvibot mvibot_map_saver_launch.py &
# if [[ "$mode" = "navigation" ]]
# then
#    echo robot run navigation
#    ros2 launch higher_layer_mvibot mvibot_map_server_launch.py &
# else
#    echo robot run slam
#    ros2 launch higher_layer_mvibot mvibot_slam_toolbox_launch.py &
# fi
# ros2 launch higher_layer_mvibot mvibot_server_launch.py &
while :
do
  echo "An Infinite loop"
  # We can press Ctrl + C to exit the script
  sleep 1
done
exit 0
